.header{
  background-image: url(../img/backgrounds/landing.jpg);
  background-repeat: repeat;
  background-size: cover;
  height: 80vh;
  font-size: 300%;
  font-family: serif;
  image-orientation:

}
.col-md-4 {
     margin-left: 35%;
     margin right: 35%;
}
.col{
  height: 30vh;
}
.test-box {
  border: 2px solid #F2F0F7  ;
  padding: 30px;
  margin: 20px;
  background-color: white;
}
.text {
  color: #464549;
  font-family: fantasy;


}
p.text{
  font-size: 18px
}
.test-box {
  border: 2px solid #F2F0F7  ;
  padding: 30px;
  margin: 40px;
  background-color: white;
}
.text2 {
  color: #464549;
  font-family: fantasy;



}
p.text2{
  font-size: 18px
}
#drinks3{
 float:right;
 align-content: center;
  }
#texter{
  float:left;
}
#sub {
  background-image: url(../img/backgrounds/foodsBg.jpg);
}

#burger{
  float:right;
}
#food{
  float: right;
  align-self: center;

}
#eat{
  float: right;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size:40px;
    font-family: cursive;
    font-style: italic;
}

#happy{
  background-color: #E0DEE1;
  height: 10vh;
  font-family: fantasy;
  font-size: 30px;
  text-align: center;
}
#party{
  background-color: #F95A1A;
  height: 10vh;
  font-family: fantasy;
  font-size: 30px;
  text-align: center;

}
footer{
  background-color: #F15A29;
  height: 40vh;
  background-position: center;
  background-size: cover;

}
.subscribe{
  background-image: url("../img/backgrounds/subscribe.jpg");
  height:50vh;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: -100px
}

#lunch{
  margin-right: -100px
}
#breakfast{
  margin-right: -100px
}
#logo{
  text-align: center;
  color:white;
  font-family: fantasy;
  font-size: 40px;
  }
.what{
  color: white;
  text-align: center;
  font-weight: bold;
  font size:1000px;


}
